/*
Theme Name: Cornerstone Dev
Description: Custom Child theme based on Cornerstone
Author: Paul Istrate
Author URI: http: //www.eruisw.com
Bitbucket Theme URI: https://norboo@bitbucket.org/norboo/cornerstone-child-dev.git
Bitbucket Branch: master
Template: cornerstone
Version: 1.1
*/

.alignleft {display: inline; float: left; margin-right: 1.625em;}
.alignright {display: inline; float: right; margin-left: 1.625em;}
.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}

.widget_nav_menu ul,.widget_recent_entries ul{list-style:none}

#content,.sidebar{margin-top: 1em;}

.entry-content ul,.widget_archive ul{
	margin-left:2em;
}

.screen-reader-text{
	left:-1000em;
	position: absolute;
}

/* Pagination */
.pagination li {
   display: inline-block; /* make page numbers visible on mobile devices */
}

/* Orbit Slider */
.orbit-container {
	background: transparent;
	height: auto !important; /* Change container height based on height of image */
}

.off-canvas-content{
	box-shadow: none;
}

/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}

/*** Header ***/

.top-bar, .top-bar ul{
    background: transparent;
}

.off-canvas-content{
    position: relative;
}

.banner .grid-x{
    height: 50vh !important;
}

#widemenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    z-index: 1000;
}

.is-dropdown-submenu{
    border: 0 0 !important;
    background: #cacaca !important;
}

/*** Homepage ***/

.section{
    background: #dfdfdf;
}

.section .grid-x{
    height: 100vh;
}

.section-2{
    background: #efefef !important;
}

/*** Sidebar ***/

.sidebar .widget ul{
    list-style: none;
    margin-left: 0;
}

/*** Footer ***/
#footer{
    background: #333;
    color: #efefef;
}

/*** Other Stuff ***/

/* Comments */
#comments{
    padding: 1rem;
    background: #efefef;
}

#comments .form-submit{
    margin: 0;
}

#comments #submit{
    margin: 0;
}

/* Posts */
.entry-meta-header{
    padding: 1rem;
    background: #efefef;
}

.entry-content{
    padding-top: 1rem;
}